

body {

	background-image: url(laptop.jpeg);
	background-size: cover;
}


.container h1{				
	padding: 10px;
	color: white;
	margin-top: 300px;
	margin-left: 370px
}

.btn-success{
	background-color: #C83317;
	border:1px solid #C83317;
	margin:0 auto;
	margin-top: 100px;
	margin-left: 650px;
	border-radius: 28px;
}

.btn-success:hover{
	background-color: #C83317;
}